daily-python
transformers
onnxruntime>=1.20.1,<2
websockets>=13.1,<16.0
python-dotenv>=1.0.0,<2.0.0
uvicorn>=0.32.0,<1.0.0
fastapi>=0.115.6,<0.117.0
pipecat-ai-small-webrtc-prebuilt
openinference-instrumentation-pipecat
pipecat-ai
openai
runner
arize-otel
arize-phoenix
aiortc