langchain-core>=1.0.0,<2.0.0
langchain>=1.0.0
langchain-classic>=1.0.0
langchain-openai>=0.2.14
langchain-community>=0.4.0
langchain-google-vertexai>=2.0.12
opentelemetry-sdk
respx
pytest-recording
pytest-rerunfailures
langsmith
portpicker
starlette
uvicorn
vcrpy>=6.0.1
