langchain-core==1.2.11
langchain==1.2.11
langchain-classic==1.0.0
langchain-openai==1.0.1
langchain-community==0.4.0
langchain-google-vertexai==3.0.3
opentelemetry-sdk
respx
pytest-recording
pytest-rerunfailures
langsmith
portpicker
starlette
uvicorn
vcrpy>=6.0.1
