# API Key from https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-YOUR_API_KEY
# API Key from https://e2b.dev/docs/legacy/getting-started/api-key
E2B_API_KEY=e2b_YOUR_API_KEY

# Phoenix listens on the default gRPC port 4317, so you don't need to change
# exporter settings. If you prefer to export via HTTP, uncomment this:
# OTEL_EXPORTER_OTLP_ENDPOINT=http://0.0.0.0:6006
# OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf

# Export traces every second instead of every 5 seconds
OTEL_BSP_SCHEDULE_DELAY=1000
