/anthropic
/autogen
/autogen_agentchat
/bedrock
/crewai
/dspy
/groq
/guardrails
/haystack
/instructor
/langchain
/litellm
/llama_index
/mistralai
/openai
/openai_agents
/smolagents
/vertexai
/mcp
/portkey
/google_genai
/google_adk
/agno
/beeai
/pydantic_ai
