anthropic<0.72
llama-index-core==0.14.19
llama_index-llms-anthropic<0.9.0
llama-index-llms-groq
llama-index-llms-openai
llama-index-llms-vertex
llama-index-multi-modal-llms-openai>=0.6.2
llama-index-workflows>=2.17.1
openinference-instrumentation-openai
opentelemetry-sdk
pytest-recording
respx
