interactions:
- request:
    body: '{"q": "Who won the World Cup in 2022?", "gl": "us", "hl": "en", "autocorrect":
      true}'
    headers: {}
    method: POST
    uri: https://google.serper.dev/search
  response:
    body:
      string: "{\"searchParameters\":{\"q\":\"Who won the World Cup in 2022?\",\"gl\":\"us\",\"hl\":\"en\",\"type\":\"search\",\"autocorrect\":true,\"engine\":\"google\"},\"answerBox\":{\"title\":\"2022
        World Cup / Champion\",\"answer\":\"Argentina national football team\"},\"knowledgeGraph\":{\"title\":\"World
        Cup\",\"type\":\"Soccer competition\"},\"organic\":[{\"title\":\"2022 FIFA
        World Cup final - Wikipedia\",\"link\":\"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_final\",\"snippet\":\"France
        finished first in Group D with two wins and one loss (4\u20131 win over Australia,
        2\u20131 win over Denmark, and a 1\u20130 loss to Tunisia), defeating Poland
        3\u20131 in ...\",\"position\":1},{\"title\":\"The Moment When Argentina Won
        The 2022 FIFA World Cup\",\"link\":\"https://www.youtube.com/watch?v=EROb-E23ZVs\",\"snippet\":\"Argentina
        v France: 2022 FIFA World Cup (December 18 2022) Watch full World Cup matches
        ...\",\"date\":\"May 23, 2024\",\"attributes\":{\"Duration\":\"4:40\",\"Posted\":\"May
        23, 2024\"},\"imageUrl\":\"https://i.ytimg.com/vi/EROb-E23ZVs/default.jpg?sqp=-oaymwEECHgQQw&rs=AMzJL3nUAxq2CRAbfzahSTeDp4SKGUoRqw\",\"position\":2},{\"title\":\"2022
        FIFA World Cup - Wikipedia\",\"link\":\"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup\",\"snippet\":\"Argentine
        captain Lionel Messi was voted the tournament's best player, winning the Golden
        Ball. The tournament has been considered exceptionally poetic as the ...\",\"sitelinks\":[{\"title\":\"Final\",\"link\":\"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_final\"},{\"title\":\"Qatar
        2022 FIFA World Cup bid\",\"link\":\"https://en.wikipedia.org/wiki/Qatar_2022_FIFA_World_Cup_bid\"},{\"title\":\"Qualification\",\"link\":\"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup_qualification\"},{\"title\":\"Bidding
        process\",\"link\":\"https://en.wikipedia.org/wiki/2018_and_2022_FIFA_World_Cup_bids\"}],\"position\":3},{\"title\":\"How
        Argentina won t[...]
