boto3==1.40.46
aioboto3==15.5.0
aioresponses
opentelemetry-sdk
opentelemetry-instrumentation-httpx
anthropic>=0.47.0
pytest-asyncio
pytest-order
pydantic>=2.10.6
pytest-vcr>=1.0.2
types-requests
requests
mypy_boto3_bedrock_runtime
mypy_boto3_bedrock_agent_runtime
