chromadb
llama-index >= 0.10.41
llama-index-agent-openai
llama-index-llms-openai
llama-index-vector-stores-chroma
openinference-instrumentation-llama-index
opentelemetry-exporter-otlp
opentelemetry-sdk
sqlalchemy
wikipedia
