OPENAI_API_KEY=...
PROJECT_NAME="realtime-with-tools"

# if using Arize
ARIZE_API_KEY=...
ARIZE_SPACE_ID=...
# optional — defaults to https://otlp.arize.com/v1
# ARIZE_ENDPOINT=...

# if using a non-local Phoenix instance
# PHOENIX_COLLECTOR_ENDPOINT=https://phoenix.example.com
