name: Typescript Publish
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  id-token: write
env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store
jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org/
          scope: "@arizeai"
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.29.3
      - name: Setup pnpm config
        run: pnpm config set store-dir $PNPM_CACHE_FOLDER

      - name: Install dependencies
        working-directory: ./js
        run: pnpm install --frozen-lockfile
      - name: Create and publish versions
        uses: changesets/action@06245a4e0a36c064a573d4150030f5ec548e4fcc # v1
        with:
          version: pnpm ci:version
          commit: "chore(js): update versions"
          title: "chore(js): update versions"
          publish: pnpm ci:publish
          createGithubReleases: true
          cwd: "./js"
        env:
          GITHUB_TOKEN: ${{ secrets.MY_CHANGESET_TOKEN }}
